[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = [
  "npm install --legacy-peer-deps",
  "npm install ajv@^6.12.6 ajv-keywords@^3.5.2 --legacy-peer-deps --save"
]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm start"

